@font-face {
    font-family: eszi;
    src: url(SigmarOne-Regular.ttf);
}

body {
    background-color:  rgb(130, 210, 236);;
    background-size: cover;
    width: 101vw;
    margin-top: -8px;
    margin-bottom: -8px;
    overflow-x: hidden;
    height: 100vh;
    font-family: eszi;
    
}

::-webkit-scrollbar {
    display: none;
}

a {
    color: white;
    text-decoration: none;
}

#menu {
    width: 102vw;
    height: 15vh;
    display: block;
    font-family: eszi;
    margin-left: -2vw;
    margin-right: 0;
}

#menufel {
    width: 103vw;
    height: 10vh;
    background-color: white;
    display: flex;
    margin-top: 0;
}

#menule {
    width: 103vw;
    height: 5vh;
    background-color: rgb(122, 122, 122);
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0;
    color: white;
    text-transform: uppercase;
}

#logo {
    align-content: left;
    height: 10vh;
}

img {
    height: 9vh;
    width: 8vw;
    margin-left: 4vw;
    margin-top: 1vh;
    margin-bottom: auto;
}

#menubar {
    margin-top: 1.5vh;
    font-family: eszi;
    text-align: center;
}

#tartalom {
    width: 100vw;
    margin-top: none;
    margin-bottom: auto;
}

#elso {
    width: 80vw;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 5vh;
}

#szoveg1 {
    background-color: rgba(255, 255, 255, 0.4);
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    height: 300px;
    width: 60vw;
    
}

#kep1 {
    background-image: url(kep1rolunk.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 20vw;
    height: 300px;
    margin-left: 1vw;
}

p {
    margin-top: 10vh;
    margin-bottom: auto;
    font-size: 20px;
    margin-left: 0.5vw;
    margin-right: 0.2vw;
    color: rgb(10, 10, 112);
}

#masodik {
    width: 80vw;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 5vh;
}

#szoveg2 {
    background-color: rgba(255, 255, 255, 0.4);
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
    height: 300px;
    width: 60vw;
    margin-left: 1vw;
}

#kep2 {
    background-image: url(kep2rolunk.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:bottom ;
    width: 20vw;
    height: 300px; 
}

#harmadik {
    width: 80vw;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 5vh;
}

#szoveg3 {
    background-color: rgba(255, 255, 255, 0.4);
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    height: 300px;
    width: 60vw;
    
}

#kep3 {
    background-image: url(kep3rolunk.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 20vw;
    height: 300px;
    margin-left: 1vw;
}

#negyedik {
    width: 80vw;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 5vh;
}

#szoveg4 {
    background-color: rgba(255, 255, 255, 0.4);
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
    height: 300px;
    width: 60vw;
    margin-left: 1vw;
}

#kep4 {
    background-image: url(kep4rolunk.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:bottom ;
    width: 20vw;
    height: 300px; 
}

#otodik {
    width: 80vw;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 5vh;
    margin-bottom: 6vh;
}

#szoveg5 {
    background-color: rgba(255, 255, 255, 0.4);
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    height: 300px;
    width: 60vw;
    
}

#kep5 {
    background-image: url(kep5rolunk.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 20vw;
    height: 300px;
    margin-left: 1vw;
}

#hiteles {
    text-align: center;
    margin-bottom: 3vh;
    font-family: 'Courier New', Courier, monospace;
}

@media screen and (min-width:1201px){
    
::-webkit-scrollbar {
    display: none;
}

a {
    color: white;
    text-decoration: none;
}

#menu {
    width: 102vw;
    height: 15vh;
    display: block;
    font-family: eszi;
    margin-left: -2vw;
    margin-right: 0;
}

#menufel {
    width: 103vw;
    height: 10vh;
    background-color: white;
    display: flex;
    margin-top: 0;
}

#menule {
    width: 103vw;
    height: 5vh;
    background-color: rgb(122, 122, 122);
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0;
    color: white;
    text-transform: uppercase;
}

#logo {
    align-content: left;
    height: 10vh;
}

img {
    height: 9vh;
    width: 8vw;
    margin-left: 4vw;
    margin-top: 1vh;
    margin-bottom: auto;
}

#menubar {
    margin-top: 1.5vh;
    font-family: eszi;
    text-align: center;
}

#tartalom {
    width: 100vw;
    margin-top: none;
    margin-bottom: auto;
}

#elso {
    width: 80vw;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 5vh;
}

#szoveg1 {
    background-color: rgba(255, 255, 255, 0.4);
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    height: 300px;
    width: 60vw;
    
}

#kep1 {
    background-image: url(kep1rolunk.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 20vw;
    height: 300px;
    margin-left: 1vw;
}

p {
    margin-top: 10vh;
    margin-bottom: auto;
    font-size: 20px;
    margin-left: 0.5vw;
    margin-right: 0.2vw;
    color: rgb(10, 10, 112);
}

#masodik {
    width: 80vw;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 5vh;
}

#szoveg2 {
    background-color: rgba(255, 255, 255, 0.4);
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
    height: 300px;
    width: 60vw;
    margin-left: 1vw;
}

#kep2 {
    background-image: url(kep2rolunk.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:bottom ;
    width: 20vw;
    height: 300px; 
}

#harmadik {
    width: 80vw;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 5vh;
}

#szoveg3 {
    background-color: rgba(255, 255, 255, 0.4);
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    height: 300px;
    width: 60vw;
    
}

#kep3 {
    background-image: url(kep3rolunk.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 20vw;
    height: 300px;
    margin-left: 1vw;
}

#negyedik {
    width: 80vw;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 5vh;
}

#szoveg4 {
    background-color: rgba(255, 255, 255, 0.4);
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
    height: 300px;
    width: 60vw;
    margin-left: 1vw;
}

#kep4 {
    background-image: url(kep4rolunk.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:bottom ;
    width: 20vw;
    height: 300px; 
}

#otodik {
    width: 80vw;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 5vh;
    margin-bottom: 6vh;
}

#szoveg5 {
    background-color: rgba(255, 255, 255, 0.4);
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    height: 300px;
    width: 60vw;
    
}

#kep5 {
    background-image: url(kep5rolunk.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 20vw;
    height: 300px;
    margin-left: 1vw;
}

#hiteles {
    text-align: center;
    margin-bottom: 3vh;
    font-family: 'Courier New', Courier, monospace;
}
}

@media  screen and (min-width:601px) and (max-width:1200px) {
    
::-webkit-scrollbar {
    display: none;
}

a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

#menu {
    width: 102vw;
    height: 15vh;
    display: block;
    font-family: eszi;
    margin-left: -2vw;
    margin-right: 0;
}

#menufel {
    width: 103vw;
    height: 10vh;
    background-color: white;
    display: flex;
    margin-top: 0;
}

#menule {
    width: 103vw;
    height: 5vh;
    background-color: rgb(122, 122, 122);
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0;
    color: white;
    text-transform: uppercase;
}

#logo {
    align-content: left;
    height: 10vh;
}

img {
    height: 9vh;
    width: 14vw;
    margin-left: 4vw;
    margin-top: 1vh;
    margin-bottom: auto;
}

#menubar {
    margin-top: 1.5vh;
    font-family: eszi;
    text-align: center;
}

#tartalom {
    width: 100vw;
    margin-top: none;
    margin-bottom: auto;
}

#elso {
    width: 80vw;
    height: 320px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 5vh;
}

#szoveg1 {
    background-color: rgba(255, 255, 255, 0.4);
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    height: 320px;
    width: 50vw;
    
}

#kep1 {
    background-image: url(kep1rolunk.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30vw;
    height: 320px;
    margin-left: 1vw;
}

p {
    margin-top: 5vh;
    margin-bottom: auto;
    font-size: 15px;
    margin-left: 0.5vw;
    margin-right: 0.2vw;
    color: rgb(10, 10, 112);
}

#masodik {
    width: 80vw;
    height: 320px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 5vh;
}

#szoveg2 {
    background-color: rgba(255, 255, 255, 0.4);
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
    height: 320px;
    width: 50vw;
    margin-left: 1vw;
}

#kep2 {
    background-image: url(kep2rolunk.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:bottom ;
    width: 30vw;
    height: 320px; 
}

#harmadik {
    width: 80vw;
    height: 320px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 5vh;
}

#szoveg3 {
    background-color: rgba(255, 255, 255, 0.4);
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    height: 320px;
    width: 50vw;
    
}

#kep3 {
    background-image: url(kep3rolunk.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30vw;
    height: 320px;
    margin-left: 1vw;
}

#negyedik {
    width: 80vw;
    height: 320px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 5vh;
}

#szoveg4 {
    background-color: rgba(255, 255, 255, 0.4);
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
    height: 320px;
    width: 50vw;
    margin-left: 1vw;
}

#kep4 {
    background-image: url(kep4rolunk.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:bottom ;
    width: 30vw;
    height: 320px; 
}

#otodik {
    width: 80vw;
    height: 320px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 5vh;
    margin-bottom: 6vh;
}

#szoveg5 {
    background-color: rgba(255, 255, 255, 0.4);
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    height: 320px;
    width: 50vw;
    
}

#kep5 {
    background-image: url(kep5rolunk.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30vw;
    height: 320px;
    margin-left: 1vw;
}

#hiteles {
    text-align: center;
    margin-bottom: 3vh;
    font-family: 'Courier New', Courier, monospace;
}
    
}

@media screen and (max-width:600px){
    
::-webkit-scrollbar {
    display: none;
}

a {
    color: white;
    text-decoration: none;
    font-size: 10px;
}

#menu {
    width: 102vw;
    height: 15vh;
    display: block;
    font-family: eszi;
    margin-left: -2vw;
    margin-right: 0;
}

#menufel {
    width: 103vw;
    height: 10vh;
    background-color: white;
    display: flex;
    margin-top: 0;
}

#menule {
    width: 103vw;
    height: 5vh;
    background-color: rgb(122, 122, 122);
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0;
    color: white;
    text-transform: uppercase;
}

#logo {
    align-content: left;
    height: 10vh;
}

img {
    height: 9vh;
    width: 25vw;
    margin-left: 4vw;
    margin-top: 1vh;
    margin-bottom: auto;
}

#menubar {
    margin-top: 1vh;
    font-family: eszi;
    text-align: center;
}

#tartalom {
    width: 100vw;
    margin-top: none;
    margin-bottom: auto;
}

#elso {
    width: 80vw;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 5vh;
}

#szoveg1 {
    background-color: rgba(255, 255, 255, 0.4);
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    height: 350px;
    width: 40vw;
    
}

#kep1 {
    background-image: url(kep1rolunk.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 40vw;
    height: 350px;
    margin-left: 1vw;
}

p {
    margin-top: 1vh;
    margin-bottom: auto;
    font-size: 12px;
    margin-left: 0.5vw;
    margin-right: 0.2vw;
    color: rgb(10, 10, 112);
}

#masodik {
    width: 80vw;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 5vh;
}

#szoveg2 {
    background-color: rgba(255, 255, 255, 0.4);
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
    height: 350px;
    width: 40vw;
    margin-left: 1vw;
}

#kep2 {
    background-image: url(kep2rolunk.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:bottom ;
    width: 40vw;
    height: 350px; 
}

#harmadik {
    width: 80vw;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 5vh;
}

#szoveg3 {
    background-color: rgba(255, 255, 255, 0.4);
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    height: 350px;
    width: 40vw;
    
}

#kep3 {
    background-image: url(kep3rolunk.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 40vw;
    height: 350px;
    margin-left: 1vw;
}

#negyedik {
    width: 80vw;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 5vh;
}

#szoveg4 {
    background-color: rgba(255, 255, 255, 0.4);
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
    height: 350px;
    width: 40vw;
    margin-left: 1vw;
}

#kep4 {
    background-image: url(kep4rolunk.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:bottom ;
    width: 40vw;
    height: 350px; 
}

#otodik {
    width: 80vw;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 5vh;
    margin-bottom: 6vh;
}

#szoveg5 {
    background-color: rgba(255, 255, 255, 0.4);
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    height: 360px;
    width: 40vw;
    
}

#kep5 {
    background-image: url(kep5rolunk.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 40vw;
    height: 360px;
    margin-left: 1vw;
}

#hiteles {
    text-align: center;
    margin-bottom: 3vh;
    font-family: 'Courier New', Courier, monospace;
}
}